.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.chartContainer {
    height: 50vh;
    width: 80vw;
    margin-bottom: 4rem;
    margin-top: 1rem;
}